@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-concrete-50 text-concrete-900 font-sans transition-colors duration-700;
    /* Activa la retícula de fondo de 40px */
    background-image: theme("backgroundImage.grid-pattern");
    background-size: 40px 40px;
  }

  /* Modo Terminal / Creador: Fondo Oscuro */
  body[data-mode="terminal"],
  body[data-mode="creator"] {
    @apply bg-nomos-void text-concrete-100;
    background-image:
      linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  }
}

/* Utilidad para ocultar la barra de scroll pero permitir navegación */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
